<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 col-md-10">
      <div class="card">
        <div class="header">
          <h4 class="title">{{actionTitle}} Cliente</h4>
        </div>
        <div class="content">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="rut">Rut</label>
                <input type="text" class="form-control border-input" placeholder="Rut" [(ngModel)]="clientModel.rut">
              </div>
            </div>
            <div class="col-md-4">
              <div class="tim-row" id="checkbox-row">
                <div class="checkbox ajustaTopCheck">
                  <input id="checkbox" type="checkbox" [(ngModel)]="clientModel.vigente">
                  <label for="checkbox"> Vigente </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control border-input" placeholder="Nombre" [(ngModel)]="clientModel.nombre">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control border-input" placeholder="Apellido" [(ngModel)]="clientModel.apellido">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Teléfono</label>
                <input type="text" class="form-control border-input" placeholder="Teléfono" [(ngModel)]="clientModel.telefono">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control border-input" placeholder="Email" [(ngModel)]="clientModel.email">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control border-input" disabled placeholder="Password" [(ngModel)]="clientModel.password">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary btn-fill btn-wd" (click)="saveClient()">Guardar</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>