<div class="container-fluid">
  <div class="row">
    <div class="card">
      <div class="header">
        <h4 class="title">Productos</h4>
      </div>
      <div class="content">
        <div class="row">
          <app-product-form></app-product-form>
        </div>
        <hr>
        <div class="row">
          <div class="marginTable">
            <app-product-list></app-product-list>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>