/* You can add global styles to this file, and also import other style files */
.cdk-overlay-pane {
  /* width: 889px; */
    position: absolute;
    pointer-events: auto;
    background-color: #fff;
    z-index: 1000;
}

.mat-option:hover {
  background-color: rgb(236, 234, 234);
}